<h1>Questionnaires#index</h1>

<p>
  <%= link_to 'New Questionnaire', new_questionnaire_path %>
</p>

<% @questionnaires.each do |q| %>
  <p>
    <div><strong><%= q.title %></strong></div>
    <div><%= q.description.truncate(15) %></div>
    <div style="text-align: right;">
      <%= link_to 'Show', questionnaire_path(q) %>
      <%= link_to 'Edit', edit_questionnaire_path(q) %>
      <%= link_to 'Delete', questionnaire_path(q), method: :delete,
        data: {confirm: '削除してよろしいですか？'} %>
    </div>
  </p>
<% end %>
